<%# Flexbox grid for products %>
<div class="card">

  <%# If online, design depending on the batch city %>
  <% if !product.online %>
     <div class='card__side card__side--front-offline'>
  <% elsif ["Paris", "Bordeaux", "Lille", "Lyon", "Marseille", "Nantes"].include?(product.city) %>
     <div class='card__side card__side--front-france'>
  <% elsif ["Berlin"].include?(product.city) %>
     <div class='card__side card__side--front-germany'>
  <% elsif ["London"].include?(product.city) %>
     <div class='card__side card__side--front-england'>
  <% elsif ["Amsterdam"].include?(product.city) %>
     <div class='card__side card__side--front-holland'>
  <% elsif ["Barcelona"].include?(product.city) %>
     <div class='card__side card__side--front-spain'>
  <% elsif ["Brussels"].include?(product.city) %>
     <div class='card__side card__side--front-belgium'>
  <% elsif ["Copenhagen"].include?(product.city) %>
     <div class='card__side card__side--front-denmark'>
  <% elsif ["Lisbon"].include?(product.city) %>
   <div class='card__side card__side--front-portugal'>
  <% elsif ["Milan"].include?(product.city) %>
   <div class='card__side card__side--front-italy'>
  <% elsif ["Lausanne"].include?(product.city) %>
   <div class='card__side card__side--front-switzerland'>
  <% elsif ["Casablanca"].include?(product.city) %>
   <div class='card__side card__side--front-morocco'>
  <% elsif ["Tel Aviv"].include?(product.city) %>
   <div class='card__side card__side--front-israel'>
  <% elsif ["Melbourne"].include?(product.city) %>
     <div class='card__side card__side--front-australia'>
  <% elsif ["Bali"].include?(product.city) %>
     <div class='card__side card__side--front-indonesia'>
  <% elsif ["Chengdu", "Shanghai", "Shenzhen"].include?(product.city) %>
     <div class='card__side card__side--front-china'>
  <% elsif ["Tokyo", "Kyoto"].include?(product.city) %>
     <div class='card__side card__side--front-japan'>
  <% elsif ["Montréal"].include?(product.city) %>
     <div class='card__side card__side--front-canada'>
  <% elsif ["Rio de Janeiro", "Belo Horizonte", "São Paulo"].include?(product.city) %>
     <div class='card__side card__side--front-brazil'>
  <% elsif ["Mexico"].include?(product.city) %>
     <div class='card__side card__side--front-mexico'>
  <% elsif ["Buenos Aires"].include?(product.city) %>
     <div class='card__side card__side--front-argentina'>
  <% end %>

      <%# Dislay the product info %>
      <div class="card__side card__side--front">
        <div class="card__picture" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= product.image %>');">
          &nbsp
        </div>
        <%# If offline, black color and no link %>
        <% if product.online %>
          <a href="<%= product.site %>">
        <% end %>
        <h4 class="card__heading">
          <span class="card__heading-span">
            <%= product.name.capitalize %>
          </span>
        </h4>
        <h4 class="card__description">
          <span class="card__description-span">
            <%= product.description %>
          </span>
        </h4>
        <% if product.online %>
          </a>
        <% end %>
        <div class="card__details">
          <ul>
            <li><%= product.city %> <%= product.year %> - Batch #<%= product.batch %></li>
          </ul>
          <div class="card__subdetails">
            <div class="card__users">
              <% product.alumnis.each do |alumni| %>
                <figure class="card__user">
                  <img class="card__img" alt="Alumni" src="<%= alumni.photo %>">
                  <figcaption class="card__caption">
                    <%= alumni.name %>
                  </figcaption>
                </figure>
              <% end %>
            </div>
            <div class="card__upvote">
              <div class="card__arrow"></div>
              <div class="card__count"><%= product.votes %></div>
            </div>
        </div>
        </div>
      </div>

  </div>
</div>

