<section class="section-sidebar">

  <div class="sidebar">

    <div class="sidebar__search">
      <%= form_tag products_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search Product"
        %>
      <% end %>
    </div>

    <div class="sidebar__categories">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><a href="/?online=true">Active</a></li>
        <li><a href="/?online=false">Graveyard</a></li>
      </ul>
    </div>

    <div class="sidebar__logo-box">

      <a href="https://www.lewagon.com/demoday/">
        <%= image_tag("logo-le-wagon.jpg", alt:"Wagon", class:"sidebar__logo-wagon") %>
      </a>
      <h2 class="sidebar__logo-text">x</h2>
      <a href="https://github.com/hcquach/mwp">
        <%= image_tag("logo-hc.jpg", alt:"Alumni", id:"logo-alumni") %>
      </a>
    </div>

    <div class="sidebar__uparrow">
      <a href='#top'>Back to <i class="fas fa-arrow-circle-up"></i></a>
    </div>

  </div>

</section>

<header class="header">
  <div name="top" class="bg-video">
    <%= video_tag(["video-background.mp4"], muted: true, loop: true, autoplay: true, class: "bg-video__content") %>
    <div class="header__text-box">
      <h1 class="heading-primary">
        <div class="heading-primary--1">
          We are<br><span class="heading-primary-subtitle">Le Wagon students</span><br>
        </div>
        <div class="heading-primary--2">
          We build<br><span class="heading-primary-subtitle">products in 10 days</span>
        </div>
      </h1>
    </div>
  </div>

</header>


<section class="section-products">

  <h2 class="heading-secondary">
    All Wagon Products
  </h2>

  <div class="row">
    <% @products.reverse.each do |product| %>
      <%= render product %>
    <% end %>
  </div>

  <%#= will_paginate @products, renderer: BootstrapPagination::Rails %>

</section>
