<section class="section-sidebar">

  <div class="sidebar">

    <div class="sidebar__search">
      <%= form_tag products_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search Product"
        %>
      <% end %>
    </div>

    <div class="sidebar__categories">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li>
          <input type="radio" name="filter" class="sidebar__categories__checkbox--cities" id="navi-cities-toggle">
          <label for="navi-cities-toggle" class="sidebar__categories__button">
            Per Place
          </label>
          <nav class="sidebar__categories__navigation--cities">
            <div class="sidebar__categories__container__cities">
              <div class="card__city card__city--amsterdam col-xs-2"><a href="/?city=Amsterdam">Amsterdam</a></div>
              <div class="card__city card__city--bali col-xs-2"><a href="/?city=Bali">Bali</a></div>
              <div class="card__city card__city--barcelona col-xs-2"><a href="/?city=Barcelona">Barcelona</a></div>
              <div class="card__city card__city--belohorizonte col-xs-2"><a href="/?city=Belo Horizonte">Belo Horizonte</a></div>
              <div class="card__city card__city--berlin col-xs-2"><a href="/?city=Berlin">Berlin</a></div>
              <div class="card__city card__city--bordeaux col-xs-2"><a href="/?city=Bordeaux">Bordeaux</a></div>
              <div class="card__city card__city--brussels col-xs-2"><a href="/?city=Brussels">Brussels</a></div>
              <div class="card__city card__city--buenosaires col-xs-2"><a href="/?city=Buenos Aires">Buenos Aires</a></div>
              <div class="card__city card__city--casablanca col-xs-2"><a href="/?city=Casablanca">Casablanca</a></div>
              <div class="card__city card__city--chengdu col-xs-2"><a href="/?city=Chengdu">Chengdu</a></div>
              <div class="card__city card__city--copenhagen col-xs-2"><a href="/?city=Copenhagen">Copenhagen</a></div>
              <div class="card__city card__city--kyoto col-xs-2"><a href="/?city=Kyoto">Kyoto</a></div>
              <div class="card__city card__city--lausanne col-xs-2"><a href="/?city=Lausanne">Lausanne</a></div>
              <div class="card__city card__city--lille col-xs-2"><a href="/?city=Lille">Lille</a></div>
              <div class="card__city card__city--lisbon col-xs-2"><a href="/?city=Lisbon">Lisbon</a></div>
              <div class="card__city card__city--london col-xs-2"><a href="/?city=London">London</a></div>
              <div class="card__city card__city--lyon col-xs-2"><a href="/?city=Lyon">Lyon</a></div>
              <div class="card__city card__city--marseille col-xs-2"><a href="/?city=Marseille">Marseille</a></div>
              <div class="card__city card__city--melbourne col-xs-2"><a href="/?city=Melbourne">Melbourne</a></div>
              <div class="card__city card__city--mexico col-xs-2"><a href="/?city=Mexico">Mexico</a></div>
              <div class="card__city card__city--milan col-xs-2"><a href="/?city=Milan">Milan</a></div>
              <div class="card__city card__city--montreal col-xs-2"><a href="/?city=Montréal">Montréal</a></div>
              <div class="card__city card__city--nantes col-xs-2"><a href="/?city=Nantes">Nantes</a></div>
              <div class="card__city card__city--paris col-xs-2"><a href="/?city=Paris">Paris</a></div>
              <div class="card__city card__city--riodejaneiro col-xs-2"><a href="/?city=Rio de Janeiro">Rio de Janeiro</a></div>
              <div class="card__city card__city--saopaulo col-xs-2"><a href="/?city=São Paulo">São Paulo</a></div>
              <div class="card__city card__city--shanghai col-xs-2"><a href="/?city=Shanghai">Shanghai</a></div>
              <div class="card__city card__city--shenzhen col-xs-2"><a href="/?city=Shenzhen">Shenzhen</a></div>
              <div class="card__city card__city--telaviv col-xs-2"><a href="/?city=Tel Aviv">Tel Aviv</a></div>
              <div class="card__city card__city--tokyo col-xs-2"><a href="/?city=Tokyo">Tokyo</a></div>
            </div>
          </nav>
        </li>
        <li>
          <input type="radio" name="filter" class="sidebar__categories__checkbox--year" id="navi-year-toggle">
          <label for="navi-year-toggle" class="sidebar__categories__button">
            Per Year
          </label>
          <nav class="sidebar__categories__navigation--year">
            <div class="sidebar__categories__background">&nbsp;</div>
            <ul class="sidebar__categories__list">
              <% @products_per_year.reverse_each do |year| %>
                  <li>
                    <a href="/?year=<%= year[0].to_s %>"><%= "#" + year[0].to_s + " (" + year[1].to_s + ")" %></a>
                  </li>
                <% end %>
            </ul>
          </nav>
        </li>
        <li>
          <input type="radio" name="filter" class="sidebar__categories__checkbox--topic" id="navi-topic-toggle">
          <label for="navi-topic-toggle" class="sidebar__categories__button">
            Per Topic
          </label>
          <nav class="sidebar__categories__navigation--topic">
            <div class="sidebar__categories__background">&nbsp;</div>
            <ul class="sidebar__categories__list">
                <% @frequencies.each do |word| %>
                  <li>
                    <a href="/?query=<%= word[0] %>"><%= "#" + word[0] + " (" + word[1].to_s + ")" %></a>
                  </li>
                <% end %>
            </ul>
          </nav>
        </li>
        <li class="sidebar__categories__filter--close">
          <input type="radio" name="filter" class="sidebar__categories__checkbox--close" id="navi-close-toggle">
          <label for="navi-close-toggle" class="sidebar__categories__button">
            Close
          </label>
        </li>
        <li><a href="/?online=true">Active</a></li>
        <li><a href="/?online=false">The Graveyard</a></li>
        <li><a href="https://www.youtube.com/watch?v=KsFK7tkwl1A">Demoday Video</a></li>
      </ul>
    </div>

    <div class="sidebar__logo-box">

      <a href="https://www.lewagon.com/demoday/">
        <%= image_tag("logo-le-wagon.jpg", alt:"Wagon", class:"sidebar__logo-wagon") %>
      </a>
      <h2 class="sidebar__logo-text">x</h2>
      <a href="https://github.com/hcquach/mwp">
        <%= image_tag("logo-hc.jpg", alt:"Alumni", id:"logo-alumni") %>
      </a>
    </div>

    <div class="sidebar__uparrow">
      <a href='#top'>Back to <i class="fas fa-arrow-circle-up"></i></a>
    </div>

  </div>

</section>

<section class="section-second-sidebar">


</section>

<header class="header">
  <div name="top" class="bg-video">
    <%= video_tag(["video-background.mp4"], muted: true, loop: true, autoplay: true, class: "bg-video__content") %>
    <div class="header__text-box">
      <h1 class="heading-primary">
        <div class="heading-primary--1">
          We are<br><span class="heading-primary-subtitle">Le Wagon students</span><br>
        </div>
        <div class="heading-primary--2">
          We build<br><span class="heading-primary-subtitle">products in 10 days</span>
        </div>
      </h1>
    </div>
  </div>

</header>

<section class="section-top-products">

  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h2 class="heading-secondary">
        App of the day
      </h2>
      <%= render @random %>
    </div>

    <div class="col-xs-12 col-sm-6">
      <h2 class="heading-secondary">
        Most popular
      </h2>
      <%= render @most_popular %>
    </div>
  </div>

</section>

<section class="section-products">

  <h2 class="heading-secondary">
    All Wagon Products
  </h2>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-xs-12 col-sm-4 col-md-3">
        <%= render product %>
      </div>
    <% end %>
  </div>

  <%= will_paginate @products %>

</section>
