<section class="section-sidebar">

  <div class="sidebar">
    <div class="sidebar__logo-box">
      <%= image_tag("logo-black-2.png", alt:"Wagon", class:"sidebar__logo-wagon") %>
      <h2 class="sidebar__logo-text">x</h2>
      <%= image_tag("logo-alumni.png", alt:"Alumni", class:"sidebar__logo-alumni") %>
    </div>

    <div class="sidebar__search">
      <%= form_tag products_path, method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Search a product"
        %>
      <% end %>
    </div>

    <div class="sidebar__categories">
      <ul>
        <li>Most Popular</li>
        <li>Most Recent</li>
        <li>City</li>
        <li>Year</li>
        <li>Graveyard</li>
      </ul>
    </div>

  </div>

</section>

<header class="header">
  <div class="bg-video">
    <%= video_tag(["video.mp4", "video.webm"], muted: true, loop: true, autoplay: true, class: "bg-video__content") %>
    <div class="header__text-box">
      <h1 class="heading-primary">
        <!-- Products -->
      </h1>
    </div>
  </div>

</header>


<section class="section-products">

  <h2 class="heading-secondary">
    What we achieved in 10 days
  </h2>

  <div class="row">
    <% @products.each do |product| %>
      <%= render product %>
    <% end %>
  </div>

  <%= will_paginate @products, renderer: BootstrapPagination::Rails %>

</section>
